@import '../../node_modules/angular-material/angular-material.scss';

html, body {
  height: 100%;
}
body {
  background-position: center center;
  background-image: url(../assets/images/spiderman-villains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#example {
  background-color: rgba(255, 255, 255, .98);
  width: 50%;
  padding: 40px 20px 60px 20px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 890px) {
  old-select-wrapper {
    width: 90%;
  }
}